.App {
  text-align: center;
}
h1 {
  color: #b492b6;
  border: 1px solid rgb(32, 31, 31);
  padding: 20px;
}
.loginForm {
  padding: 30px;
  background-color: #b492b6;
  border: 1px solid rgb(32, 31, 31);
}
footer,
nav {
  padding: 15px 0px;
}
